<!DOCTYPE html>
<html>

<head>
  <script src="./js/header.js"></script>
</head>

<body class="hidden-bar-wrapper">
  <!-- Page Title -->
  <section class="page-title">
    <div class="auto-container">
      <h2>Adhyayanam Education</h2>
      <ul class="bread-crumb clearfix">
        <li><a href="index.html">Home</a></li>
        <li>Cart</li>
      </ul>
    </div>
  </section>
  <!-- End Page Title -->
  <section class="course-page-section-two">
    <div class="auto-container">
      <table class="osd-table s" style="border-collapse: collapse; width: 100%;">
        <tbody>
          <tr class="top-r">
            <td style="text-align: center; ">
            </td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
              <p><strong>Product</strong></p>
            </td>
            <td style="text-align: center; ">
              <p><strong>Price</strong></p>
            </td>
            <td style="text-align: center; ">
              <p><strong>Sub Total</strong></p>
            </td>
          </tr>
          <tr class="tr-pro">
            <td style="text-align: center; ">
              <p><a href="#"><strong><i class="fa fa-close"></i></strong></a></p>
            </td>
            <td style="text-align: center; "><img src="./images/resource/p1.webp" /></td>
            <td style="text-align: center;">Railway</td>
            <td style="text-align: center;">RS. 1999</td>
            <td style="text-align: center;">RS. 199</td>
          </tr>
          <tr class="coupan">
            <td colspan="5">
              <div class="apply-c">
                <div class="c-filed">
                  <div class="form-group">
                    <input type="text" name="code" placeholder="Coupan Code*" required="">
                  </div>
                  <div class="apply-coupan"><a href="#">Apply Coupan</a></div>
                </div>
              </div>
            </td>
          </tr>


        </tbody>
      </table>
      <div class="order-summary">
        <div class="summary-bx">
          <h4>Cart Total</h4>
          <div class="sub-t">Sub Total:<span class="right-t">RS. 1999</span></div>
          <div class="sub-t">Total:<span class="right-t">RS. 1999</span></div>
          <a href="#" class="Checkout">Checkout</a>
        </div>
      </div>
    </div>
    </div>
  </section>


  <!-- Main Footer -->
  <script src="./js/footer.js"></script>


  <!--End PageWrapper-->

</body>


</html>