<!DOCTYPE html>
<html>

<head>
  <script src="./js/header.js"></script>
</head>

<body class="hidden-bar-wrapper">
  <!-- Page Title -->
  <section class="page-title">
    <div class="auto-container">
      <h2>Adhyayanam Education</h2>
      <ul class="bread-crumb clearfix">
        <li><a href="index.html">Home</a></li>
        <li>Study Materials View All</li>
      </ul>
    </div>
  </section>
  <!-- End Page Title -->
  <section class="course-page-section-two">
    <div class="auto-container">

      <div class="top-banner-sm">
        <div class="image">
          <img src="images/main-slider/slider2.png" alt="">
        </div>
      </div>

      <div class="smaterial-box">
        <div class="content">
          <h4 class="osd sm">Social Justice Government Schemes</h4>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">Preamble of Indian Constitution </a></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details-paid.html">Select-Committee </a><div class="osd-label paid">Paid</div></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">Schedule 9 </a></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">Panchayat</a></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">RBI Governor </a></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">Fundamental Rights </a></div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="cm-all"><a href="study-material-details.html">Article 19 </a></div>
            </div>
            </ul>
          </div>
        </div>

      </div>
  </section>


  <!-- Main Footer -->
  <script src="./js/footer.js"></script>


  <!--End PageWrapper-->

</body>


</html>