<!DOCTYPE html>
<html>

<head>
  <script src="./js/header.js"></script>
</head>

<body class="hidden-bar-wrapper">
  <!-- Page Title -->
  <section class="page-title">
    <div class="auto-container">
      <h2>Adhyayanam Education</h2>
      <ul class="bread-crumb clearfix">
        <li><a href="index.html">Home</a></li>
        <li>Test Series</li>
      </ul>
    </div>
  </section>
  <!-- End Page Title -->
  <section class="course-page-section-two">
    <div class="auto-container">
      <div class="row clearfix">

        <!-- Sidebar Column -->
        <div class="sidebar-column col-lg-3 col-md-8 col-sm-12">

          <!-- Search Widget -->
          <div class="sidebar-widget search-box">
            <div class="widget-content">
              <form method="post" action="contact.html">
                <div class="form-group">
                  <input type="search" name="search-field" value="" placeholder="Search" required="">
                  <button type="submit"><span class="icon fa fa-search"></span></button>
                </div>
              </form>
            </div>
          </div>

          <!-- Category Widget -->
          <div class="sidebar-widget category-widget">
            <div class="widget-content">
              <!-- Sidebar Title -->
              <div class="sidebar-title">
                <h5>Test Series Categories</h5>
              </div>

              <!-- Brands List -->
              <div class="brands-list">
                <form method="post" action="contact.html">

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" checked="" id="type-1">
                      <label for="type-1">Indian Politics (5)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-2">
                      <label for="type-2">Development (9)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-3">
                      <label for="type-3">International Relations (3)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-4">
                      <label for="type-4">Current Affairs (5)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-5">
                      <label for="type-5">Indian Society (10)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-6">
                      <label for="type-6">Modern History (8)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-7">
                      <label for="type-7">Politics &amp; Society(16)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="check-box">
                      <input type="radio" name="remember-password" id="type-8">
                      <label for="type-8">World History (10)</label>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>

        </div>

        <!-- Blocks Column -->
        <div class="blocks-column col-lg-9 col-md-12 col-sm-12">

          <!-- Filter Box -->
          <div class="filter-box">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <!-- Left Box -->
              <div class="left-box d-flex align-items-center">
                <div class="results">Showing 1–12 of 54 results</div>
              </div>
              <!-- Right Box -->
              <div class="right-box d-flex align-items-center">
                <div class="form-group">
                  <select name="currency" class="">
                    <option>Recently Added</option>
                    <option>Added 01</option>
                    <option>Added 02</option>
                    <option>Added 03</option>
                    <option>Added 04</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Box -->

          <div class="row clearfix">

            <div class="course-block-two style-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="image osd-f">
                  <a href="test-series-detail.html"><img src="images/resource/rbi.webp" alt=""></a>
                  <div class="user-r"><span>3.45k Users</span></div>
                </div>
                <div class="lower-content osdc">
                  <div class="content">

                    <h4><a href="test-serie-detail.html"> RRB Technician Grade 3 Mock Test 2024 </a></h4>
                    <div class="number-of-test">361 Test <span class="green-free">| 4 Free</span></div>
                    <div class="contents">
                      <ul class="lstyle">
                        <li>219 Chapter Test</li>
                        <li>27 Current Affairs</li>
                        <li>60 Subject Test</li>
                        <li>+55 more tests</li>
                      </ul>
                    </div>
                  </div>
                  <div class="bottom-btn">
                    <a class="course-btn osd" href="test-series-detail.html">View Test Series</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-block-two style-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="image osd-f">
                  <a href="test-series-detail.html"><img src="images/resource/rbi.webp" alt=""></a>
                  <div class="user-r"><span>3.45k Users</span></div>
                </div>
                <div class="lower-content osdc">
                  <div class="content">

                    <h4><a href="test-serie-detail.html"> RRB Technician Grade 3 Mock Test 2024 </a></h4>
                    <div class="number-of-test">361 Test <span class="green-free">| 4 Free</span></div>
                    <div class="contents">
                      <ul class="lstyle">
                        <li>219 Chapter Test</li>
                        <li>27 Current Affairs</li>
                        <li>60 Subject Test</li>
                        <li>+55 more tests</li>
                      </ul>
                    </div>
                  </div>
                  <div class="bottom-btn">
                    <a class="course-btn osd" href="test-series-detail.html">View Test Series</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-block-two style-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="image osd-f">
                  <a href="test-series-detail.html"><img src="images/resource/rbi.webp" alt=""></a>
                  <div class="user-r"><span>3.45k Users</span></div>
                </div>
                <div class="lower-content osdc">
                  <div class="content">

                    <h4><a href="test-serie-detail.html"> RRB Technician Grade 3 Mock Test 2024 </a></h4>
                    <div class="number-of-test">361 Test <span class="green-free">| 4 Free</span></div>
                    <div class="contents">
                      <ul class="lstyle">
                        <li>219 Chapter Test</li>
                        <li>27 Current Affairs</li>
                        <li>60 Subject Test</li>
                        <li>+55 more tests</li>
                      </ul>
                    </div>
                  </div>
                  <div class="bottom-btn">
                    <a class="course-btn osd" href="test-series-detail.html">View Test Series</a>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Styled Pagination -->
          <ul class="styled-pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><a href="#"><span class="flaticon-arrow-pointing-to-right"></span></a></li>
          </ul>
          <!-- End Styled Pagination -->

        </div>

      </div>

    </div>
  </section>

  <!-- Main Footer -->
  <script src="./js/footer.js"></script>


  <!--End PageWrapper-->

</body>


</html>